<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:if="!${city.id}">Add new city</title>
<title th:if="${city.id}">Edit city</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>
	<header>
		<form th:action="@{/logout}" method="post">
			<input id="logout" class="form_button" type="submit" value="Log out" />
		</form>
	</header>
	<div id="edit" class="container_admin">
	<p align="center">Travel telegram bot admin panel</p>
		<h1 class="sub_title" th:if="!${city.id}">Add City</h1>
		<h1 class="sub_title" th:if="${city.id}">Edit City</h1>

		<form class="form_edi" action="#" th:action="@{/save}"
			th:object="${city}" method="post">
			<input th:if="${city.id}" type="hidden" th:field="*{id}" />

			<div class="form_group">
				<input type="text" class="form_input" placeholder=" "
					th:field="*{title}" > <label class="form_label">city</label>
				<label class="error" th:if="${#fields.hasErrors('title')}"
					th:errors="*{title}">city</label>
			</div>
			<div class="form_group">
				<textarea class="form_input" rows="10" placeholder=" "
					th:field="*{description}"></textarea>
				<label class="form_label">description</label> <label class="error" th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}">description</label>
			</div>
			<div>
				<button class="form_button" th:if="!${city.id}" type="submit">Add City</button>
			    <button class="form_button" th:if="${city.id}" type="submit">Save City</button>
			</div>
		</form>
	</div>

</body>
</html>