<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>SavAndTravel Home Page</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>
	<header>
		<form th:action="@{/logout}" method="post">
			<input id="logout" class="form_button"  type="submit" value="Log out" />
		</form>
	</header>

	<div class="container_admin">
	
		<p align="center">Travel telegram bot admin panel</p>
		<h1 class="sub_title">Cities</h1>

		<div class="form_admin">
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>City Title</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="city : ${cities}">
						<td class="column_id" th:text="${city.id}"></td>
						<td class="column_title" th:text="${city.title}"></td>
						<td class="column_description" th:text="${city.description}"></td>
						<td class="column_action"><a class="actions"
							th:href="@{'/addedit/' + ${city.id}}">Edit</a><a class="actions"
							th:href="@{'/delete/' + ${city.id}}">Delete</a></td>
					</tr>
				</tbody>

			</table>
		</div>
		<div>
			<button class="form_button" onclick="window.location.href = '/adminpanel/addedit';">Add	New City</button>
		</div>

	</div>


</body>
</html>