<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Travel Home Page</title>
</head>
<body>
	<div align="center">
		<h1>Cities</h1>
		<br />
		<table border="1">
			<thead>
				<tr>
					<th>City ID</th>
					<th>City Title</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="city : ${cities}">
					<td th:text="${city.id}">Product ID</td>
					<td th:text="${city.title}">Name</td>
					<td th:text="${city.description}">Brand</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>