<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login to SavAndTravel admin panel</title>
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>

	<form class="form_login" th:action="@{/login}" method="post">
		<p align="right">Log in to admin panel</p>
		<h1 class="sub_title">Login</h1>


		<div class="form_group">
			<input type="text" name="username" class="form_input" placeholder=" ">
			<label class="form_label">username</label>
		</div>

		<div class="form_group">
			<input type="password" name="password" class="form_input"
				placeholder=" "> <label class="form_label">password</label>
		</div>
		<div class="form_group">
			<label class="errors" th:if="${param.error}">Invalid username
				or password</label> <label class="warn" th:if="${param.logout}">You
				have been logged out</label>
		</div>
		<input type="submit" value="Log in" class="form_button" />


	</form>
</body>
</html>