@charset "UTF-8";

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	letter-spacing: 1px;
}

html, body{
	margin: 0;
}

header {
	position: fixed;
    width: 90%;
    top: 0;
    padding:30px;
}

textarea {
    resize: none;
 } 

table {
	width: 100%;
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
}

td, th{
	border: 1px solid #e0e0e0;
	padding: 5px;
}

th {
	text-align: center;
	border: 1px solid #e0e0e0;
	position: sticky;
	top: 0;
	background: #e0e0e0;
}

.main-container{
	padding: 30px;
	border-radius: 5px;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 4px 5px #ccc;
}

.login-panel {
	width: 20%;
	height: auto;
}

.admin-panel {
	width: 70%;
	height: 70%;
	overflow: hidden;
}

.admin-panel-content{
	height: 65%;
	overflow: scroll;
	margin-bottom: 20px;
}

.edit-panel {
	width: 50%;
	height: 70%;	
	overflow: hidden;	
}


.form-title {
	text-align: left;
	font-weight: normal;
}

.head-title{
	text-align: center;
	font-weight: normal;
}

.column-id{
	width: 3%;
	text-align: center;
	
}

.column-title{
		width: 20%;
}

.column-description{
	max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.column-action{
	width: 15%;
	text-align: center;
}

.action-link{
	margin: 0 5px 0 5px;	
}

.form-input, .form-button {
	font-family: sans-serif;
	letter-spacing: 1px;
}


.form-group {
	position: relative;
	margin-bottom: 32px;
}

.form-label {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 14px; z-index : -1;
	color: #9e9e9e;
	transition: 0.3s;
	z-index: -1;
	z-index: -1;
}

.label-error {
	color: red;
	font-size: 14px;
	margin-left: 5px;
}


.form-input {
	width: 100%;
	padding: 5px 0 5px 5px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	background-color: transparent;
	outline: none;
	transition: 0.3s;
}

.input-city{
	width: 50%;
}

.form-input:focus {
	border-bottom: 1px solid #1a73a8;
	
}

.form-button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	color: #fff;
	background-color: #0071f0;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.logout-button {
	float: right;
}

.home-button {
	float: left;
	margin-top: -60px;
}

.form-button:focus, .form-button:hover {
	background-color: rgba(0, 113, 240, 0.7);
}

.form-input:focus ~ .form-label, .form-input:not(:placeholder-shown) ~ .form-label {
	top: -18px;
	font-size: 12px;
	color: #e0e0e0;
}
